리스트 -> 1,2,3차원 배열 형성 가능

In [2]:
import numpy as np

numpy가 설치 되어있지 않는 경우   
=> ! pip install numpy

#### Zeros()
- 괄호 안에 입력된 숫자만큼의 원소를 생성하고 0으로 초기화

In [18]:
y = np.zeros(shape=(10,), dtype=np.int8)
print(y)
 
z = np.zeros(8)
print(z)

[0 0 0 0 0 0 0 0 0 0]
[0. 0. 0. 0. 0. 0. 0. 0.]

In [21]:
y = np.zeros(shape=(10,2), dtype=np.int8)
print(y)

[[0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]
 [0 0]]

In [13]:
x = np.array([[1,2,3],[1,3,4]])

type(x)    # 생성된 객체 x 인스턴스는 n차원 배열이다. 
x.shape   # x객체의 속성(괄호 없음)과 메소드(괗호있음) 사용가능

(2, 3)

#### Mean()
- 배열에 저장된 원소들의 평균값을 계산

In [29]:
import numpy as np 

#배열을 만드는 메소드 : array 
list_1 = [1,2,3]
x = np.array(list_1)
np.mean(x)

2.0

#### shape()
- 배열의 차원 확인가능

In [44]:
list_1 = [1,2,3]
x = np.array(list_1)
x.shape #1행 3열

(3,)

#### array()
- Numpy 형식으로 배열의 원소를 입력할 때에는 반드시 리스트 형식으로 입력

In [32]:
x = np.array([1,2,3])
y = np.array((1,2,3))  
z = np.array({12,3,4})

a = np.array({"a":"b", "a":"d"})
print(x,y,z,a)

[1 2 3] [1 2 3] {3, 12, 4} {'a': 'd'}

=> 배열을 형성할 때 튜플도 가능

#### reshape()
- 배열을 원하는 모양으로 생성

In [43]:
import numpy as np

a = [1,2,3,4,5,6,7,8]
b = np.reshape(a,(4,2))
c = np.reshape(a,(2,4))
print(b)
print(b.shape)
print("\t")
print(c)
print(c.shape)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]
(4, 2)

[[1 2 3 4]
 [5 6 7 8]]
(2, 4)

=> 행렬 a의 원소가 8개이므로 a를 4행2열 또는 2행 4열로 reshape 가능!

In [53]:
x = np.arange(12)
x = x.reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [52]:
a = np.arange(1,13)
print(a)
b = a.reshape(3,2,2)
print(b)

[ 1  2  3  4  5  6  7  8  9 10 11 12]
[[[ 1  2]
  [ 3  4]]

 [[ 5  6]
  [ 7  8]]

 [[ 9 10]
  [11 12]]]

In [70]:
x = np.arange(12)
x = x.reshape(3,4)
x

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [71]:
x.reshape(-1,1)

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [10],
       [11]])

행(row)의 위치에 -1을 넣고 열의 값을 지정해주면 변환될 배열의 행의 수는 알아서 지정이 된다는 소리이다.

#### arrange()

In [72]:
x = np.arange(1,9)
x

array([1, 2, 3, 4, 5, 6, 7, 8])

#### ones()
- 배열을 1의 값들로 채움

In [80]:
y = np.ones([4,3])
print(y)

[[1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]
 [1. 1. 1.]]

In [79]:
y = np.ones([4,3])
z = y * 2
print(z)

[[2. 2. 2.]
 [2. 2. 2.]
 [2. 2. 2.]
 [2. 2. 2.]]

4행 3열의 배열을 형성하여 그 값은 모두 1로 채움

#### numpy 배열의 슬라이싱

In [85]:
list1 = [[1,11],[2,12],[3,13],[4,14]]
print(list1[:])

[[1, 11], [2, 12], [3, 13], [4, 14]]

In [90]:
print(list1[:][1])
print(list1[:,1])

[2, 12]

TypeError: list indices must be integers or slices, not tuple

In [89]:
arr.shape

(4, 2)

In [92]:
arr = np.array(list1)
print(arr[:][1])
print(arr[2,1])

[ 2 12]
13

In [95]:
print(arr[:][1])
print(arr[0,1])
print(arr[1,1])
print(arr[2,1])
print(arr[3,1])

[ 2 12]
11
12
13
14

In [98]:
print(arr[1:4])

[[ 2 12]
 [ 3 13]
 [ 4 14]]

#### math 모듈이용하기
- math 모듈과 numpy모듈의 sqrt()비교

In [102]:
import math 
print(math.sqrt(2))
math.sqrt([2,3,4])

1.4142135623730951

TypeError: must be real number, not list

In [110]:
import numpy as np

print(np.sqrt(2))
np.sqrt([2,3,4])

1.4142135623730951

array([1.41421356, 1.73205081, 2.        ])

In [114]:
import numpy as np

x = np.zeros(15)
print(x)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]

In [117]:
y = np.zeros(5,dtype=int)
y

array([0, 0, 0, 0, 0])

In [128]:
y = np.zeros([5,3])
y

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [129]:
print(y+4)

[[4. 4. 4.]
 [4. 4. 4.]
 [4. 4. 4.]
 [4. 4. 4.]
 [4. 4. 4.]]

In [122]:
z = y.reshape([3,5])
z

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [130]:
#문제 : 원소를 4로 하는 5 x 3행렬 

a = np.ones([5,3])
b = a * 4
print(b)

[[4. 4. 4.]
 [4. 4. 4.]
 [4. 4. 4.]
 [4. 4. 4.]
 [4. 4. 4.]]

### 전치행렬

#### transpose() : 전치행렬로 변환

In [132]:
import numpy as np

# 2 x 2 
ary = np.array([[1,2],[3,4]])
print(ary)

ary.transpose()

[[1 2]
 [3 4]]

array([[1, 3],
       [2, 4]])

In [134]:
ary = np.array([[1,2,3],[4,5,6]])
print(ary)

ary.transpose()

[[1 2 3]
 [4 5 6]]

array([[1, 4],
       [2, 5],
       [3, 6]])

#### 2개 배열에 대한 연산 
2개 배열에 저장된 내용을 인덱스별로 계산  
선형대수학의 사칙연산과 동일하게 작동

In [146]:
x = np.array((1,2,3))
y = np.array((4,5,6))

print(x+y)
print(x*y)
print(x/y)
print(x**y)
print(x-y)
print(x+1)


x**= 5
print(x)

[5 7 9]
[ 4 10 18]
[0.25 0.4  0.5 ]
[  1  32 729]
[-3 -3 -3]
[2 3 4]
[  1  32 243]

배열 형태로 출력

In [147]:
print(list(x))

[1, 32, 243]

In [148]:
lis = [1,2,3,4]
lis * 4

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

리스트를 배열로 변경하여 사칙연산이 가능하다

#### 인덱싱

In [152]:
x = np.array([[1,2,3],[4,5,6],[7,8,9]])
print(x[1])
print(x[:,1])
print(x[:,0])

[4 5 6]
[2 5 8]
[1 4 7]

#### 2개의 numpy 배열 간의 계산

In [156]:
x = np.array([[1,2,3],[4,5,6],[7,8,9]])
y = np.array([[1,2,3],[4,5,6],[7,8,9]])

#문제 : x의 1행과 y의 3행을 더한 값을 출력하기 
print(list(x[0]+y[2]))

print(list(x[0]+x[1]+x[2]+y[2]))

[8, 10, 12]
[19, 23, 27]

In [160]:
print(list(x[:])*(y[2]))

[[ 7 16 27]
 [28 40 54]
 [49 64 81]]

In [162]:
a = np.array([10,20,30,40,60])
b = a > 30 
print(b)

[False False False  True  True]

#### random.rand() : 난수 생성 모듈

In [249]:
import numpy as np

a = np.random.rand(5)
print(a)

print("\t")

b = np.random.rand(2, 3)
print(b, b.shape)

[0.22741463 0.25435648 0.05802916 0.43441663 0.31179588]

[[0.69634349 0.37775184 0.17960368]
 [0.02467873 0.06724963 0.67939277]] (2, 3)

=>(0,1)범위에서 균일한 분포로  
실행시 마다 다른 수가 출력

In [247]:
a = np.random.random(5)
print(a)

[0.16469416 0.6214784  0.57722859 0.23789282 0.934214  ]

#### random.randint() :  [최소값, 최대값)의 범위에서 임의의 정수를 생성

In [180]:
import numpy as np

a = np.random.randint(4, size=5)
print(a)

b = np.random.randint(2, 4, size=5)
print(b)

c = np.random.randint(1, 5, size=(2, 3))
print(c)

[0 2 2 1 0]
[2 3 2 3 3]
[[4 1 1]
 [2 3 3]]

#### random.seed() : 난수 생성한 후 수는 다시는 변하지 않음

In [191]:
import numpy as np

np.random.seed(0)

print(np.random.rand(2, 3))

[[0.5488135  0.71518937 0.60276338]
 [0.54488318 0.4236548  0.64589411]]

In [208]:
a = np.random.rand(5)
print(a)
a > 0.12

[0.52324805 0.09394051 0.5759465  0.9292962  0.31856895]

array([ True, False,  True,  True,  True])

In [211]:
np.random.seed(0)
a = np.random.rand(5)
print(a)
a > 0.12

[0.5488135  0.71518937 0.60276338 0.54488318 0.4236548 ]

array([ True,  True,  True,  True,  True])

#### any() 와 all()의 비교

In [244]:
a = np.random.rand(5)
print(a)
print(a > 0)
np.all(a > 0.12)

[0.85580334 0.01171408 0.35997806 0.72999056 0.17162968]
[ True  True  True  True  True]

False

all() : 원하는 조건이 모두 만족하는지 확인

In [240]:
a = np.random.rand(5)
print(a)
print(a > 0.9)
np.any(a > 0.12)

[0.70388858 0.10022689 0.91948261 0.7142413  0.99884701]
[False False  True False  True]

True

any() : 원하는 조건이 하나라도 있는지 확인

#### linspace() : 시작과 끝의 값을 지정하고 그 사이의 값을 균등하게 배분

numpy.linspace( 시작 , 중지 , num = 50 , endpoint = True , retstep = False , dtype = None , 축 = 0 )

In [267]:
np.linspace(2,13,5, retstep = True) #샘플 간의 간격을 출력
np.linspace(2,13,5, endpoint = False) #마지막 값을 제외하고 샘플값을 만들어냄

array([ 2. ,  4.2,  6.4,  8.6, 10.8])